<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Tamu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item (click)="logout()">
    <ion-icon slot="start" ios="exit-outline" md="exit-sharp"></ion-icon>
    <ion-label>Logout</ion-label>
  </ion-item>
  <ng-container *ngIf="dataTamu.length > 0; else emptyState">
    <ion-card *ngFor="let item of dataTamu">
      <ion-item>
        <ion-label>
          {{item.nama}}
          <p>{{item.umur}}</p>
        </ion-label>
        <ion-button color="danger" slot="end" (click)="hapusTamu(item.id)">
          Hapus
        </ion-button>
        <ion-button expand="block" (click)="open_modal_edit(true,item.id)">
          Edit
        </ion-button>
      </ion-item>
    </ion-card>
  </ng-container>
  <ng-template #emptyState>
    <p class="ion-text-center ion-align-items-center">Data kosong</p>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="open_modal_tambah(true)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- ini untuk modal tambah -->
  <ion-modal [isOpen]="modal_tambah">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Tambah Tamu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Nama Tamu"
            labelPlacement="floating"
            required
            [(ngModel)]="nama"
            placeholder="Masukkan Nama Tamu"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="umur"
            labelPlacement="floating"
            required
            [(ngModel)]="umur"
            placeholder="Masukkan Umur Tamu"
            type="number"
          >
          </ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-fab slot="fixed" vertical="bottom" horizontal="end"> </ion-fab>
            <ion-button
              type="button"
              (click)="tambahTamu()"
              color="primary"
              shape="full"
              expand="block"
              >Tambah Tamu
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- ini untuk modal edit -->
  <ion-modal [isOpen]="modal_edit">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Edit Tamu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Nama Tamu"
            labelPlacement="floating"
            required
            [(ngModel)]="nama"
            placeholder="Masukkan Nama Tamu"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Umur Tamu"
            labelPlacement="floating"
            required
            [(ngModel)]="umur"
            placeholder="Masukkan Umur Tamu"
            type="number"
          >
          </ion-input>
        </ion-item>
        <ion-input required [(ngModel)]="id" type="hidden"> </ion-input>
        <ion-row>
          <ion-col>
            <ion-button
              type="button"
              (click)="editTamu()"
              color="primary"
              shape="full"
              expand="block"
              >Edit Tamu
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
